[Unit]
Description=WebSub subscriber socket for Pipitor the Twitter bot

[Socket]
ListenStream=/run/pipitor.sock
SocketUser=pipitor
SocketGroup=pipitor

[Install]
WantedBy=sockets.target
